.header {
  font-size: 30px;
  text-decoration: underline;
  font-family: 'arial narrow bold';
}

body {
  background-image: url(https://images2.alphacoders.com/130/thumbbig-1306136.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}